<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="ExtentReport.ExtentReportManager"></listener>
</listeners>
  <test thread-count="5" name="Test">
  <parameter name="Os" value="Mac"></parameter>
  <parameter name="Browser" value="Chrome"></parameter>
  
    <classes>
       <class name="TestCases.TC_001_AccountRegistrationTest"/>
        <class name="TestCases.TC_002_AccountLoginTest"/> 
        <!--<class name="TestCases.TC_003_AccountLoginDataProvider"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
